.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.promo__top-content {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
  color: black;
  @media (max-width: 1000px) {
    font-size: 30px;    
  }
}