.product {
  margin: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  @media (max-width: 800px) {
    margin: 20px;
  }
}

.product__info {
  margin-left: 40px;
}

.product__img {
  width: 100px;
  height: 100px;
}
